main {
  display: flex;
  gap: 3vw;
}
.chat-container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  max-height: 1200px;
  width: 40vw;
  background-color: white;
  box-shadow: 11px 11px 0px 0px #9f9f9f;
  border-radius: 20px;
}
.right-boxes {
  display: flex;
  flex-direction: column;
  gap:10px;
}
.chat-container .title{
  padding: 8px 0;
  text-align: center;
  background-color: var(--color2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container-side{
  width: 30vw;
  background-color: white;
  box-shadow: 11px 11px 0px 0px #9f9f9f;
  border-radius: 20px;
}
.container-side .title{
  padding: 8px 0;
  text-align: center;
  background-color: var(--color5);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.chat{
  display: contents;
}
.chat-box {
  height: -webkit-fill-available;
  border: 8px solid var(--colorinput);
  border-bottom: none;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.chat-box::-webkit-scrollbar {
  display: none;
}
.chat-box .msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  overflow-wrap: anywhere;
  background-color: var(--colorinput);
  min-width: 40%;
  height: fit-content;
  width: fit-content;
  max-width: 70%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.chat-box .me {
  background-color: var(--color2) !important;
  align-self: flex-end;
  border-top-right-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.chat-box .msg p {
  padding: 0;
  margin: 0;
}
.username {
  align-self: flex-start;
  font-size: 12px;
  font-weight: bolder;
}
.chat-message {
  display: flex;
  height: 20%;
  gap: 4px;
  border: 8px solid var(--colorinput);
  background-color: var(--colorinput);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.chat-message textarea {
  padding: 2px 5px 0 5px;
  resize: none;
  height: 90%;
  width: 95%;
  border: none;
  background-color: var(--colorinput);
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.chat-message textarea:hover{
  background-color: #efefef;
  
}
.chat-message button {
  padding: 0;
  height: 50px;
  width: 60px;
  align-self: center;
  background-color: var(--color2);
  border-radius: 40px;
  border:none;
}
.chat-message button:hover {
  background-color: #6bd3ae;
}
.chat-message span {
  display: block;
  color: white;
  font-size: 30px;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.data-container hr {
  width: 80%;
  margin: 0;
}
.user-data {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.other-users ul {
  list-style: none;
  padding: 0;
}
.other-users li {
  display: flex;
  align-items: center;
  gap: 5px;
}
#profileImage {
  border-radius: 50px;
}

.data-container button {
  color: white;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bolder;
  align-self: center;
  background-color: var(--color5);
  border-radius: 40px;
  border:none;
}

@media screen and (max-width: 850px){
  main {
    flex-direction: column;
  }
  .chat-container{
    height: 100vh;
    height: 100dvh;
    width: 100vw;
  }
  .chat-container .title {
    border-radius: 0;
  }
  .chat-container .chat-message {
    border-radius: 0;
  }
  .right-boxes{
    display: none;
  }
  textarea {
    font-size: 25px;
  }
  .chat-box {
    font-size: 20px;
  }
}

